dandi==0.55.1
numpy>=1.22.4
pandas
scipy==1.10.1
pynwb==2.3.3
fsspec==2023.6.0
h5py==3.8.0
hdmf==3.6.1
nilearn==0.10.1
natsort==8.3.1
matplotlib==3.7.1
requests==2.27.1
beautifulsoup4==4.12.2
ipywidgets==7.7.1
ndx_events==0.2.0
nwbwidgets==0.7.0
seaborn
statsmodels
