dandi==0.69.3
seaborn==0.12.2
statsmodels==0.13.5
pynwb==3.0.0
h5py==3.12.1
hdmf==4.1.0
numpy==2.1.1; python_version > "3.9"  # numpy 2.1+ is not compatible with py3.9
numpy==2.0.2; python_version == "3.9"
pandas==2.2.3
fsspec==2024.12.0
requests==2.32.4
nwbwidgets==0.10.2
scipy==1.16.0
nilearn==0.12.0
natsort==8.3.1
matplotlib==3.7.1
beautifulsoup4==4.13.0
ipywidgets==8.1.7
ndx_events==0.2.0
